.header {
    background-color: #FFFFFF;
    border-top: 80px;
    border-bottom: 1px solid #ECECEC;
    position: relative;
}



/* ---------------------------------------NAV----------------------------------------------------- */
.nav {
    display: flex;
    align-items: center;
    
}

.nav .link :current {
    color: var(--accent-color);
    
}

.nav__list {
    display: none;
    @include tablet {
        display: flex;
    }
    @include desktop {
        display: flex;
     margin-left: 93px;
    }
    & .nav__link:hover,
    & .nav__link:focus {
            color: var(--accent-color);
        }
}

.nav__list .nav__link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
     padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.nav__list .nav__item:not(:last-child) {
    margin-right: 50px;
}


.nav__item {
    display: flex;
}

.nav__link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include mobile {
            display: none;
        }
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include mobile {
        display: none;
    }
}

.nav__link:hover::after {
    opacity: 1;
}

.menu-button, .menu-button-close {
    display: block;
    margin-left: auto;
    padding: 0px;
    border: none;
    background-color: transparent;
    @include tablet{
        display: none;
    }

}

.icon-menu:hover,
.icon-menu:focus {
    fill: var(--accent-color);
}

.menu-button .icon-cross {
     display: none;
    
}

.menu-button .is-open .icon-cross {
    display: block;
}

.menu-button .is-open .icon-menu {
    display: none;
}


.menu-container{
    padding-top:10px;
    padding-right: 10px;
    padding-bottom:  40px;
    padding-left: 48px;
    background-color:#FFFFFF;
    text-align: left;
    font-size: 40px;
    @media screen and (max-width: 767px) {
            display: none;
            position: fixed;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100vh;
                &.is-open {
                    display: block;
                }
        }
    @include tablet{
        display: flex;
    }
}

.menu__nav__list {
    @include tablet {
        display: none;
    }
}

.menu__soc {
    @include tablet {
    display: none;
}
}

.menu__nav__item{
margin-bottom: 32px;
}

.menu__nav__link {
    font-size: 40px;
    font-weight: 500;
    color: #212121;
    text-decoration: none;
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}

.menu-soc {
    display: block;
    justify-content: left;
    text-align: left;
    
}

 .menu__soc__link--tel {
color: var(--accent-color);
text-align: left;
justify-content: left;
text-decoration: none;
font-size: 34px;
font-weight: 500;
margin-top: 274px;
 }

 .menu__soc__link {
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 32px;
 }

 .menu__soc--list{
    display: flex;
    margin-top: 64px;
    margin-right: 20px;
    @include tablet {
        display: none;
    }
 }

.menu__soc--list-item {
    margin-right: 20px;
    position: relative;
}

 .menu__soc--list-link{
font-size: 18px;
    font-weight: 500;
    color: var(--accent-color);
    text-decoration: none;
 }

 .menu__soc--list-item::after {
    content: ' ';
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
  right: -10px;
  bottom: 5px;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
 }

/* ------------------------------------------SOC---------------------------------------------- */

.soc {
    display: none;
    
@include tablet {
display: flex;
margin-left: auto;
}
    & .links:hover,
    & .links:focus {
            color: var(--accent-color);
        }
}

.soc .items+.items {
    margin-left: 50px;
}


.soc .links {
    color: var(--primary-text-color);
    font-weight: 500;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.links {
    display: inline-flex;
    align-items: center;
}

.links::before {
    content: "";
    margin-right: 10px;
    @media screen and (max-width: 768px) {
        margin-right: 0px;
    }
}

.soc__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc__icon {
    fill: currentColor;
    margin-right: 10px;
    
    &:hover,
    &:focus {
            fill: var(--accent-color);
        }

    @media screen and (max-width: 767px) {
        display: none;
        margin-right: 0px;}
}


